{% extends 'authentication/loginPage.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Create Exam Committe</title>
  <link rel="stylesheet" type="text/css" href="{% static 'createExamCommittee.css' %}" />
</head>

<body>
  <div class="create_examCommittee">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="color:rgb(255, 255, 255);">
    <strong>Alert:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  <h2 class="heading1">Create Exam Committee</h2>
  <form method="POST">
    {%csrf_token%}
    <select name="yr" required class="selectItem">
      <option selected disabled>Select Year</option>
      <option value="5">Masters </option>
      <option value="4">4th Year</option>
      <option value="3">3rd Year</option>
      <option value="2">2nd Year</option>
      <option value="1">1st Year</option>
    </select>
    <select name="tea1" class="selectItem">
      <option selected disabled>Select First Teacher</option>
      {%for teacher in teachers%}
      <option value="{{teacher.email}}">{{teacher.firstName}}</option>
      {%endfor%}
    </select>
    <select name="tea2" class="selectItem">
      <option selected disabled>Select Second Teacher</option>
      {%for teacher in teachers%}
      <option value="{{teacher.email}}">{{teacher.firstName}}</option>
      {%endfor%}
    </select>
    </select>
    <select name="tea3" class="selectItem">
      <option selected disabled>Select Third Teacher</option>
      {%for teacher in teachers%}
      <option value="{{teacher.email}}">{{teacher.firstName}}</option>
      {%endfor%}
    </select>
    <button type="submit" class="selectItem">Create</button>
  </form>

  <button class="create_button"><a href="/createdExamCommittee">Show Created Exam Committee</a></button>
</div>
</body>

</html>
{% endblock %}