{% extends 'authentication/loginPage.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
    rel="stylesheet "
    type="text/css"
    href="{% static 'createdExamCommittee.css' %}"
    />
  </head>
  <body>
    <div class="table">
      <table class="my_table">
        <caption>
          <h3>Created Examcommittee List</h3>
        </caption>
        <thead>
          <tr>
            <th>Exam Committee No.</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          {% for Committe in createdCommittee %}
          <tr>
            <td>{{Committe.examCommitteeYear}}</td>
            <td>Created</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
  </html>
  
  {% endblock %}