{% extends 'authentication/loginPage.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create committe</title>
    <link rel="stylesheet " type="text/css" href="{% static 'createRoutine11.css' %}">
  </head>
  <body>
    <div class="routine_container">
      <div class="container">
      <h1>Select Invigilator</h1>
    <form class="teacherSelection_form" method="POST">
      {%csrf_token%} {%for o in ob%}
      <select name="so{{o}}">
        <option selected disabled>Select Teacher</option>
        {%for i in eb%}
        <option value="{{i.userName}}">{{i.firstName}}</option>
        {%endfor%}
      </select>
      {%endfor%}
      <button type="submit">Create</button>
    </form>
  </div>
  </div>
  </body>
</html>
{% endblock %}