{% extends 'authentication/loginPage.html' %}

{% load static %}

{% block content %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'examCommittee1.css' %}" />
  </head>
  <body>
    <div class="examCommittee1__body">
    <h3>
      Hello {{headOfCommittee4.firstName}},
      You are the Head of 4th Year Exam Committee.
    </h3>
    <div class="examCommittee1">
      <button><a href="/showYourDuty/{{headOfCommittee4.userName}}">Show Duty</a></button>
    <button><a href="/createRoutine4">Create Routine</a></button>
    <button><a href="/showRoutine4">Show Routine</a></button>
    <button><a href="/showTeachersDutyList"> Teachers Duty </a></button>
  </div>
  </div>
  </body>
</html>

{% endblock %}