{% extends 'authentication/loginPage.html' %}

{% load static %}

{% block content %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'examCommittee1.css' %}" />
  </head>
  <body>
    <div class="examCommittee1__body">
    <h3>
      Hello {{headOfCommittee1.firstName}},
      You are the Head of First Year Exam Committee.
    </h3>
    <div class="examCommittee1">
    <button><a href="/createRoutine1">Create Routine</a></button>
    <button><a href="/showRoutine1">Show Routine</a></button>
    <button><a href="/showTeachersDutyList"> Teachers Duty </a></button>
  </div>
  </div>
  </body>
</html>

{% endblock %}