{% extends 'authentication/loginPage.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create committe</title>
    <link rel="stylesheet " type="text/css" href="{% static 'showExamCommitteeHome.css' %}">
  </head>
  <body>
    <div class="examCommitte_body">
    <h1>Select option</h1>
    <div class="committee">
    <button>
      <a href="/showexamcommittee1">View 1st year examCommitte</a>
    </button>
    <button>
      <a href="/showexamcommittee2">View 2nd year examCommitte</a>
    </button>
    <button>
      <a href="/showexamcommittee3">View 3rd year examCommitte</a>
    </button>
    <button>
      <a href="/showexamcommittee4">View 4th year examCommitte</a>
    </button>
  </div>
  </div>
  </body>
  </html>
  
  {% endblock %}