.examRoutine_table{
    padding-top: 50px;
    color: white;
    margin-bottom: 60px;
}
  .my_table{
    margin: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 500px;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.519);
  }
  .my_table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
  .my_table th,
  .my_table td {
    padding: 12px 15px;
  }
  .my_table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  .my_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    color: #000000;
  }
  .my_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .my_table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  