.signin__body{
  color: #f5f6f7;
}
.container{
  padding: 65px 30px;
}
.signin__body h1, p {
  margin: 1em auto;
  text-align: center;
}
.signin__body .signin_form{
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 15px auto;
  padding-bottom: 2em;
  background-color: rgb(136, 136, 136);
  padding: 20px 15px 50px 15px;
  border-radius: 8px;
}
.signin__body .signin_form fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}
.signin__body .signin_form fieldset:last-of-type {
  border-bottom: none;
}

.signin__body .signin_form label {
  display: block;
  margin: 0.5rem 0;
}

.signin__body .signin_form input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 3em;
  border-radius: 8px;
}

.signin__body .signin_form input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}
.signin__body .signin_form button{
  margin-top: 8px;
border-radius: 3px;
background-color:  #ff8d1e;
color: #ffffff;
border: 0;
padding: 10px 20px;
font-weight: bold;
float: right;
}
.signin__body .signin_form button:hover {
background-color: #00a0e0;
color: #ffffff;
}